
#status, #nextTurn {
    color: red;
}

label {
    background: white;
    display: block;
    float: left;
    font-size: 100px;
    height: 100px;
    line-height: 1;
    outline: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 20px;
    width: 80px;
    color: #F38630;
}

label:nth-of-type(3n + 1) {
    clear: left
}
